body {
  text-align: center;
  background-color: #fdf0d5;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #1c110a;
}

.container {
  display: block;
  margin: auto;

}
.start{
  margin: 25px auto;
  width: 400px;
  border: 10px solid #1c110a;
  border-radius: 40px;
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #1c110a;
  background-color: #f0544f;
  transition: 0.3s;
}
.start:hover{
  border: 10px solid white;
  color: white;
}
.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.score{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.score-number{
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
